body {
    text-align: center;
    font-size: 14px;
}

.variableName {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 12px;
}

.invalidVariable {
    border: 1px solid;
    margin-top: 15px;
    padding: 2px;
}

.formLabel {
    margin-bottom: 5px;
}

input, select {
    height: 25px;
    font-size: 16px;
    width: 100%;
}
